@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------- css reset ----------------------------------- */

:root{
    --background: rgb(30, 30, 30);
    --alt-background: rgb(44, 44, 44);
    --success: rgb(40,167,69);
    --text-color-primary: rgb(237, 234, 222);

}

body{
    background-color: var(--background);
    font-family: 'Quicksand', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 50px auto 30px auto;
}

.form-fields{
    border-radius: 7px;
    border: thin solid grey; 
    overflow: hidden;
    background-color: var(--alt-background);
}

.form-element-field{
    width: 100%;
    box-sizing: border-box;
    display: block;
    color: white;
    border-style: none;
    border-radius: 0;
    background-color: var(--alt-background);
}

.title-field{
    height: 60px;
    padding: 25px 5%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color-primary);
}

.body-field{
    display: inline-block;
    height: 120px;
    padding: 15px 5%;
    resize: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    color: var(--text-color-primary);
}

.form-element-field:focus{
    outline: none;
}

hr{
    width: 90%;
    margin: 0 auto;
    height: 1px;
    border: none;
    background-color: grey;
}

.submit-btn{
    padding: 1px 1px 0 1px;
    position: relative;
    transform: scale(2.5);
    background-color: transparent;
    border: none;
    color: inherit;
    float: right;
    bottom: 17px;
    right: 17px;
    cursor: pointer;
}

.tick{
    color: rgb(228, 228, 228);
}

.tick:hover{
    outline: none;
    transition: 0.2s color ease-out;
    color: var(--success);
}

.notes-container{
    margin: 0 70px 50px 70px;
}

.grid{
    
    position: relative;
}

.tile {
    display: block;
    position: absolute;
    width: 220px;
    padding: 15px;
    margin: 8px;
    border: thin solid grey; 
    border-radius: 8px;
    color: var(--text-color-primary);
    transition: background-color 0.2s ease-in-out;
}

i{
    display: inline-block;
}

.note-title{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 10px;
}

.note-body{
    font-size: 1.1rem;
    word-wrap: break-word;
}

.note-options{  
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 20px;
    height: 36px;
    /* z-index: 10; */
}
 
.btn{
    padding: 5px;
    font-size: 24px;
    display: inline-block;
    border: none;
    background-color: transparent;
    color: var(--text-color-primary);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    /* z-index: 10; */
}

.delete-btn{
    order: -1;
}
/* ------------------------------ color picker ---------------------------------- */

.color-picker{
    flex-grow: 1;
    text-align: left;
}

.color-dropdown{
    display: none;
    opacity: 0;
    padding: 10px 8px;
    position: absolute;
    bottom: 25px;
    background-color: rgb(26, 26, 26);
    border-radius: 5px; 
}

.color-container {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/* Hide the browser's default radio button */
.color-container input {
    display: none;
}
  
/* Create a custom radio button */
.checkmark {
    cursor: pointer;
    display: inline-block;
    margin: 0 3px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid grey;
}

input[type="radio"]:checked ~ .checkmark {
    border: 3px solid white;
    box-shadow: 0 0 2px white;  
}

.color-btn:hover ~ .color-dropdown{
    display: flex;
    opacity: 1;
}

.color-dropdown:hover{
    display: flex;
    opacity: 1;
}

.default{
    background-color: var(--alt-background);
}

.red{
    background-color: rgba(158, 42, 43, 0.9);
}

.green{
    background-color: #1d532c;
}

.blue{
    background-color: rgb(0, 65, 82);
}

.yellow{
    /* background-color: rgba(224,176,0, 0.6); */
    background-color: rgb(125, 105, 26);
}

.purple{
    background-color: rgba(92, 43, 136, 0.5);
}
/* -------------------------------color picker -------------------------------------- */
.inline{
    display: inline-block;
}

.tile:hover .btn{
    transition: opacity 0.6s ease-out, color 0.3s ease-out; 
    visibility: visible;
    opacity: 1;
}

.btn:hover{
    color: rgb(182, 182, 182);
    transition: all 1s ease-out;
}

.drag-class{
    z-index: 5;
    cursor: move;
}

.release-class{
    z-index: 5;
}

/* ---------------------------------------------------------------------------------------- */

.blur-content{
    opacity: 0.1;
    pointer-events: none;
    transition: all 0.3s ease;
}

.overlay{
    display: none;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 5; */
    transition: all 0.3s ease;
}

.edit-title-field{
    width: 80%;
}

.exit-edit-form{
    position: relative;
    background-color: transparent;
    display: inline;
    font-size: 36px;
    border: none;
    color: var(--text-color-primary);
    float: right;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
}

.edit-form-fields{
    overflow: visible;  
}

/* ---------------------------------------------------------------------------------------- */